# Python
__pycache__/
*.py[cod]
*.class

# Jupyter
.ipynb_checkpoints

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/outputs/*
!data/outputs/.gitkeep

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
